.container{
    color: black;
    width: 30vw;
    height: 10vh;
    border: 5px black solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    justify-content: center;
  }