.sectionContainer{
    width: 35vw;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 5px black solid;
    border-radius: 10px; 
}

.container{
    color: black;
    width: 100px;
    height: 100px;
    border: 5px black solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
  }

  .smallContainer{
    color: black;
    width: 80px;
    height: 80px;
    border: 5px black solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.5rem;
    font-weight: media;
  }

.svg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
