.container {
  background: black;
  color: white;
  width: 30vw;
  height: 18vh;
  border: 5px black solid;
  border-radius: 20px;
  text-align: center;
  font-size: xx-small;
}

.collapseTransition {
  transition: height 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
  font-size: small;
  font-weight: bolder;
  margin: 3px;
}

.text {
  margin: 8px;
}
